.photo-grid__items {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  /* grid-template-rows: auto; */
  margin: 0;
  padding: 0;
  gap: 16px;
  box-sizing: border-box;
}

@media screen and (max-width: 1124px) {
  .photo-grid__items {
    gap: 14px;
    /* grid-template-columns: repeat(3, 1fr); */
  }
}

@media screen and (max-width: 984px) {
  .photo-grid__items {
    gap: 16px;
    /* grid-template-columns: repeat(2, 1fr); */
  }
}

@media screen and (max-width: 568px) {
  .photo-grid__items {
    gap: 12px;
    /* grid-template-columns: 1fr; */
  }
}